*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: black
}

h1 {
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    padding: 16px;
}

h2 {
    color: white;
    text-align: center;
}

p {
    line-height: 1.1;
    font-family: ubuntu;
}

ol {
    font-family: ubuntu;
}

.note {
    text-decoration: underline;
    text-transform: uppercase;
}

.form {
    font-style: italic;
}

.banner {
    background-color: #b30000;
}

.centre {
    max-width: 800px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.navbar {
    text-align: centre;
    width: 100%;
    
}
/*default*/
.navbutton {
    border: 2px solid #444;
    vertical-align: center;
    
    
    padding: 10px;
}
/*mobile phone*/
.navbutton {
    width:100%;
    margin:-2px;
    
}

/*tablet*/
@media (min-width: 830px){
    .navbutton{
    display: inline-block;
    width:25%;
    margin:-4px;
    
    }
}

/*large desktop*/
@media (min-width: 1200px){
    .navbutton{
    display: inline-block; 
    width: 150px;
    margin: 10px;
    }
}